<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Create | </title>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="right_col" role="main">
            <section layout:fragment="content">
                <div class="container">
                    <div class="row">
                        <h2>Edit blog</h2>
                        <form th:object="${formPost}" th:action="@{/edit-blog/{id}}" method="post" class="form">
                            <div class="form-group">
                                <lable>Title</lable>
                                <input type="text" class="form-control" th:field="*{title}" />
                            </div>
                            <div class="form-group">
                                <lable>Summary</lable>
                                <input type="text" class="form-control"  th:field="*{summary}">
                            </div>
                            <div class="form-group">
                                <lable>Content</lable>
                                <input type="text" class="form-control"  th:field="*{content}">
                            </div>
                            <div class="form-group">
                                <lable>Images</lable>
                                <input type="hidden" th:field="*{feature}"/>
                                <img th:src="@{/features/__${formPost.getFeatureUrl()}__}" class="post-feature-thumbnail">
                                <input type="file" th:field="*{feature}"/>
                            </div>
                            <div class="form-group">
                                <label>Category:</label>
                                <select th:field="*{category}">
                                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id==blog.category.id}"></option>
                                </select>
                            </div>
                            <button class="btn-danger" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <!-- /page content -->
    </div>
</div>

</body>
</html>